<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex flex-column wrapper">

  <header class="d-flex flex-row justify-content-between">
    <div class="logo d-flex py-2">
      <a class="logo-link" href="">Landy</a>
    </div>

    <nav class="d-flex">
      <div class="d-flex flex-row list">
        <div class="d-flex list-item"><a class="px-3 d-flex align-items-center" href="">Home</a></div>
        <div class="d-flex list-item"><a class="px-3 d-flex align-items-center" href="">About</a></div>
        <div class="d-flex list-item"><a class="px-3 d-flex align-items-center" href="">Screenshots</a></div>
        <div class="d-flex list-item"><a class="px-3 d-flex align-items-center" href="">Features</a></div>
        <div class="d-flex list-item"><a class="px-3 d-flex align-items-center" href="">Download</a></div>
      </div>
    </nav>
  </header>

  <div id="carouselExampleControls" class="carousel slide carousel-inner d-flex justify-content-center">
    <div>
      <img class="d-block w-100" src="src/assets/img/Winter-Beach.jpg" alt="First slide">
      <div class="carousel-content d-flex">
        <div>
          <div class="carousel-content--text position-absolute d-flex flex-column">
            <h1>Free Download</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
              mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <button class="btn btn-primary btn-download d-flex justify-content-center align-self-end ">Download now
            </button>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!--<div>
      <img class="d-block w-100" src="src/assets/img/Grey_Sky.jpg" alt="First slide">
      <div class="carousel-content d-flex">
        <div>
          <div class="carousel-content--text position-absolute d-flex flex-column">
            <h1>Free Download</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
              mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <button class="btn btn-primary btn-download d-flex justify-content-center align-self-end ">Download now
            </button>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div>
      <img class="d-block w-100" src="src/assets/img/Grey_Sky2.jpg" alt="First slide">
      <div class="carousel-content d-flex">
        <div>
          <div class="carousel-content--text position-absolute d-flex flex-column">
            <h1>Free Download</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
              mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <button class="btn btn-primary btn-download d-flex justify-content-center align-self-end ">Download now
            </button>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> -->

  </div>


  <!--<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">-->
  <!--<div class="carousel-inner">-->
  <!--<div class="carousel-item active">-->
  <!--<img class="d-block w-100" src=".../800x400?auto=yes&bg=777&fg=555&text=First slide" alt="First slide">-->
  <!--</div>-->
  <!--<div class="carousel-item">-->
  <!--<img class="d-block w-100" src=".../800x400?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide">-->
  <!--</div>-->
  <!--<div class="carousel-item">-->
  <!--<img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide">-->
  <!--</div>-->
  <!--</div>-->

  <!--<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
  <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
  <!--<span class="sr-only">Previous</span>-->
  <!--</a>-->
  <!--<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
  <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
  <!--<span class="sr-only">Next</span>-->
  <!--</a>-->
  <!--</div>-->
  <div class="content px-5">

    <div class="p-5 text-center lin">
      <h1 class="mx-2">A great free landing page template</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam obcaecati qui velit vitae expedita placeat
        culpa sunt nobis
        aut tenetur molestiae maxime magnam beatae dignissimos quam laborum natus consequuntur asperiores.</p>
    </div>

    <div class="fill-line"></div>

    <figure class="pt-5 d-flex">
      <img class="px-3" src="src/assets/img/bird.jpg">
      <figcaption class="px-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus animi aspernatur
        rem magnam iure laboriosam sapiente! Rerum quam reiciendis nobis quaerat ut animi ea natus
        aperiam ipsam tempora dicta libero.

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus animi aspernatur rem magnam
        iure laboriosam sapiente! Rerum quam reiciendis nobis quaerat ut animi ea natus aperiam ipsam
        tempora dicta libero.
      </figcaption>
    </figure>

    <figure class="py-5 d-flex">

      <figcaption class="px-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus animi aspernatur
        rem magnam iure laboriosam sapiente! Rerum quam reiciendis nobis quaerat ut animi ea natus
        aperiam ipsam tempora dicta libero.

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus animi aspernatur rem magnam
        iure laboriosam sapiente! Rerum quam reiciendis nobis quaerat ut animi ea natus aperiam ipsam
        tempora dicta libero.
      </figcaption>
      <img class="px-3" src="src/assets/img/grayscale.jpg">
    </figure>

  </div>

  <div class="fill-line"></div>

  <h1 class="text-center py-5">Check some great screenshots</h1>

  <div class="d-flex flex-row flex-wrap px-4 pb-5">
    <img class="img-crop pl-3" src="src/assets/img/horse-herd-fog-nature-52500.jpeg" alt="">
    <img class="img-crop pl-3" src="src/assets/img/pexels-photo-211816.jpeg" alt="">
    <img class="img-crop pl-3" src="src/assets/img/pexels-photo-248280.jpeg" alt="">
    <img class="img-crop pl-3" src="src/assets/img/pexels-photo-276374.jpeg" alt="">
    <img class="img-crop pl-3" src="src/assets/img/pexels-photo-338380.jpeg" alt="">
    <img class="img-crop pl-3" src="src/assets/img/pexels-photo-598966.jpeg" alt="">
  </div>

  <div class="fill-line"></div>

  <div class="d-flex flex-row flex-wrap py-5 justify-content-around">
    <figure class="content-block">
      <img class="d-flex m-auto" src="src/assets/img/gear-icon.png" alt="">
      <figcaption class="text-center">
        <h3>Feature 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos molestiae quae quos fugit voluptates
          sunt fuga debitis veniam expedita ab ut quidem itaque magnam quo consectetur perferendis odit obcaecati
          suscipit.
        </p>
      </figcaption>
    </figure>
    <figure class="content-block">
      <img class="d-flex m-auto" src="src/assets/img/monitoring-icon.png" alt="">
      <figcaption class="text-center">
        <h3>Feature 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos molestiae quae quos fugit voluptates
          sunt fuga debitis veniam expedita ab ut quidem itaque magnam quo consectetur perferendis odit obcaecati
          suscipit.
        </p>
      </figcaption>
    </figure>
    <figure class="content-block">
      <img class="d-flex m-auto" src="src/assets/img/multi-files-icon.png" alt="">
      <figcaption class="text-center">
        <h3>Feature 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos molestiae quae quos fugit voluptates
          sunt fuga debitis veniam expedita ab ut quidem itaque magnam quo consectetur perferendis odit obcaecati
          suscipit.
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="fill-line"></div>

  <div class="d-flex flex-row flex-wrap justify-content-center py-5">
    <a class="d-flex btn-link btn btn-success mr-2">Try it FREE for 14 days</a>
    <a class="d-flex btn-link btn btn-info ml-2">Buy it now</a>
  </div>

  <footer class="d-flex flex-column py-3">
    <div class="d-flex flex-row flex-wrap">
      <div class="d-flex w-50 flex-column px-3">
        <h3>About App</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor deleniti nulla vero fugiat hic impedit
          laborum ut maxime nobis odio et id ipsam facilis. Molestiae laboriosam dolore eaque cum. Voluptas.
        </p>
      </div>

      <div class="d-flex w-50 flex-column px-3">
        <h3>Get Informed</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Quasi temporibus assumenda optio incidunt nemo consequuntur rem facilis dolorum quia deserunt.
        </p>
        <form class="d-flex flex-row flex-wrap" action="">
          <input class="mr-1 input-large"
                 type="text"
                 placeholder="Email">
          <button class="btn btn-info px-1">Subscribe</button>
        </form>
      </div>

    </div>

    <p class="text-center py-2">Copyright 2013, Your Company name</p>

    <div class="d-flex flex-wrap flex-row justify-content-center">
      <div class="d-flex social-networks social-networks--fb p-3">
        <a class="d-flex" href=""></a>
      </div>

      <div class="d-flex social-networks social-networks--twitter p-3">
        <a href=""></a>
      </div>

      <div class="d-flex social-networks social-networks--google p-3">
        <a href=""></a>
      </div>
    </div>

  </footer>

</div>
